* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    background: white;
}

.nav2{
    width: 45%;
}

.nav2 ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center; 
    align-items: center;
}

ul li{
    color: #423f8d;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}
ul li:hover{
    color: #ed078b;
}

ul button{
    color: white;
    border: none;
    background-color: #12D9DF;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    font-family: cursive;
    cursor: pointer;
}

.welcome{
    padding-top: 100px;
    width: 80%;
    margin: auto;
}

.top h1{
    text-align: center;
    margin: 15px;
    color: #423f8d;
    font-family: cursive;
    font-weight: bolder;
}

.top h1 span{
    color: #ed078b;
    
}

.top p{
    margin: auto;
    text-align: center;
    width: 80%;
    line-height: 30px;
    color: #423f8d;
    font-family: sans-serif;
}

.bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
}

.botom .right{
    width: 50%;
}

.left-one, .left-two, .left-three{
    display: flex;
    align-items: center;
    line-height: 30px;
}

.one-right, .two-right, .three-right{
    padding: 20px 30px 20px 20px;
}

.one-right h4{
    color: #1F97D4;
    font-family: cursive;
    font-size: 20px;
}

.two-right h4{
    color: #FBCE0F;
    font-family: cursive;
    font-size: 20px;
}
.three-right h4{
    color: #12D9DF;
    font-family: cursive;
    font-size: 20px;
}

.one-right p, .two-right p, .three-right p{
    color: #4255A4;
    font-family: sans-serif;
}

#two-childrens img{
    width: 90%;
    padding-top: 10px;
}

.offer{
    background-color: #fff2f9;
    width: 100%;
    padding-bottom: 50px;
}

.offerTop{
    text-align: center;
}

.offerBottom .cards{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    
}

.offerBottom .cards .card-1{
    width: 30%;  
    background-color: white; 
    border-radius: 20px; 
    padding-bottom: 10px;
    
}
.offerBottom .cards .card-2{
    width: 30%;    
    background-color: white; 
    border-radius: 20px; 
}
.offerBottom .cards .card-3{
    width: 30%;    
    background-color: white; 
    border-radius: 20px; 
}

.card-1-bottom, .card-2-bottom, .card-3-bottom{
    display: flex;
    justify-content: space-around;
}

.offerTop{
    padding-top: 40px;;
}
.offerTop h1{
    color: #423f8d;
    font-family: cursive;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 20px;
}
.offerTop p{
    color: #423f8d;
    line-height: 28px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

.card-1 h3{
    color: #423f8d;
    margin: 10px;
    font-size: larger;
    font-family: cursive;
}
.card-2 h3{
    color: #423f8d;
    margin: 10px;
    font-size: larger;
    font-family: cursive;
}
.card-3 h3{
    color: #423f8d;
    margin: 10px;
    font-size: larger;
    font-family: cursive;
}

.card-text{
    margin: 10px;
    line-height: 28px;
    color: #616161;
}

.card-footer{
    color: #616161;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.5px solid rgb(206, 204, 204);
}

.pink{
    color: #ed078b;
    font-family: cursive;
}

.yellow{
    color: #FBCE0F;
    font-family: cursive;
}

.blue{
    color: #1F97D4;
    font-family: cursive;
}

.offerFooter{
    width: 17%;
    margin: auto;
    margin-top: 50px;
}


.offerFooter button{
    color: #ed078b;
    border: 1px solid #ed078b;
    background-color: #fff2f9;
    padding: 15px 45px;
    border-radius: 30px;
    font-weight: bold;
    font-family: cursive;
    font-size: 15px;
    cursor: pointer;
}

.offerFooter button:hover{
    color: #fff2f9;
    background-color: #ed078b;
}

.teacher{
    width: 100%;
    padding-bottom: 50px;
}

.teacher-top{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.teacher-top h1{
    color: #423f8d;
    font-family: cursive;
    font-size: 50px;
    margin-bottom: 20px;
}
.teacher-top p{
    color: #423f8d;
    line-height: 28px;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

.teachers-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.teachers-card .teacher-1, .teacher-2, .teacher-3, .teacher-4{
    width: 22%;
    text-align: center;
}

.teachers-card h3{
    margin: 8px;
    font-family: cursive;
    color: #302751;
}

.teachers-card p{
    font-family: cursive;
    color: #868686;
}

.teacher-4 img{
    border-radius: 20px;
}




::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color:#ed078b;
    border-radius: 10px ;
}